<!DOCTYPE html>
<html lang="ja">
  {{ partial "head.html" . }}
  <body>
    <div id="layout">
      {{ partial "sidemenu.html" . }}
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    <!-- JavaScript -->
    <script src="{{ .Site.BaseURL }}vendor/pure-side-menu.js"></script>
    <script src="/vendor/highlight.pack.20170624.js"></script>

    {{ range .Params.languages }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{.}}.min.js"></script>
    {{ end }}

    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script src="https://unpkg.com/mermaid@7.1.0/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({ startOnLoad: true });
    </script>
  </body>
</html>
