name: Build
on: [push]
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/hugo
      - run: ls public
      - uses: actions/upload-artifact@v4
        with:
          name: public
          path: public

  deploy_to_firebase:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    env:
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/cred.json
    needs: [build]
    steps:
      - run: echo '${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_CONTENT }}' > $GOOGLE_APPLICATION_CREDENTIALS

      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: '22.x'

      - run: npm install

      - uses: actions/download-artifact@v5
        with:
          name: public
          path: public

      - run: ls public
      - run: npx firebase deploy
